<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.yxb.share.base.dao.SysUserDao">

    <insert id="insertUser" parameterType="pers.yxb.share.base.entity.SysUser" databaseId="oracle">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select sys_guid() from dual
        </selectKey>
        INSERT INTO SYS_USER(ID, USERNAME, PASSWORD) VALUES(#{id, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR})
    </insert>
    <insert id="insertUser" parameterType="pers.yxb.share.base.entity.SysUser" databaseId="mysql">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid_short(),'-','') from dual
        </selectKey>
        INSERT INTO SYS_USER(ID, USERNAME, PASSWORD) VALUES(#{id, jdbcType=VARCHAR}, #{username, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR})
    </insert>

    <select id="findUserByName" parameterType="string" resultType="pers.yxb.share.base.entity.SysUser">
        SELECT * FROM sys_user WHERE username = #{name}
    </select>
</mapper>