<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.yxb.share.portal.dao.SysOrgDao">

    <insert id="insertOrg" parameterType="pers.yxb.share.portal.entity.SysOrg">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select sys_guid() from dual
        </selectKey>
        INSERT INTO SYS_ORG(ID, NAME) VALUES(#{id, jdbcType=VARCHAR}, #{name, jdbcType=VARCHAR})
    </insert>
</mapper>